

<!-- <mat-accordion> -->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
      {{tarea.title}}
      </mat-panel-title>
      <mat-panel-description>{{tarea.category}}


      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <mat-label>Fecha entrega</mat-label>
      <mat-label>{{tarea.deliverDate}}</mat-label>

    </mat-panel-description>

    <mat-panel-description>
      <mat-label>Fecha Final </mat-label>
      <mat-label>{{tarea.finalDate}} </mat-label>

    </mat-panel-description>
  </mat-expansion-panel>

<!-- </mat-accordion> -->
